.topPart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .countryName {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    background-color: lightseagreen;
    width: 120px;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: 300;
    border-radius: 10px;
  }
  .stats {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  .statsItem {
    border: 2px solid lightseagreen;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    width: 200px;
    text-align: center;
    span {
      font-weight: 600;
      margin-top: 10px;
    }
  }
}
.chartContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.arrowForBack {
  position: absolute;
  font-size: 100px;
  color: lightseagreen;
  left: 30px;
  top: 100px;
  cursor: pointer;
}
