<div class="homePage">
  <h2>Medals per Contry</h2>
  <div class="statsContainer">
    <div class="totalJo stats">Number of JOs <span>  {{ totalJoStat }} </span></div>
    <div class="totalCountry stats">Number of countries <span> {{ totalCountry }} </span></div>
  </div>
  <div class="ngxChartContainer">
    <ngx-charts-pie-chart *ngIf="chartValue.length > 1"
      [results]="chartValue"
      [gradient]="gradient"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event.extra)"
      [maxLabelLength]="maxLabelLength"
      
      >
      <ng-template #tooltipTemplate let-model="model" class="toolTypeModel">
        <p class="toolTipName">{{model.name}}</p>
        <p class="tooltypeValue">
          <img src="/assets/icon/medal.svg" alt="medal">{{ model.value }}
        </p>

      </ng-template>
    </ngx-charts-pie-chart>
    
  </div>
</div>