.homePage{
    h2{
        width: 100%;
        text-align: center;
        margin-top: 100px;
        color: lightpink;
        font-size: 40px;
    }
    .chartsContainer{
        display: flex;
        justify-content: center;
    }
}